@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #23242a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 2rem;
}
.box
{
    position: relative;
    width: 1000px;
    height: 1860px;
    display: flex;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 1000px;
    height: 1900px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: kenaranim 26s linear infinite;
}
.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 1000px;
    height: 1900px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: kenaranim 26s linear infinite;
    animation-delay: 13s;
}
@keyframes kenaranim 
{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.box .form
{
    position: absolute;
    inset: 2px;
    background: #28292d;
    z-index: 10;
}
table, td
{
    border: 1px solid aqua;
    border-collapse: collapse;
    width: 100%;
}
td, th
{
    display: table-cell;
    padding: 10px;
    font-size: 18px;
    color: #fff;
}
.box .form h2
{
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.box .form .inputbox .heading
{
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}
.box .form .inputbox
{
    margin: 20px;
}
.box .form .inputbox label
{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.box .form .inputbox span
{
    cursor: default;
}
.box .form .inputbox input
{
    margin: 5px;
    margin-left: 10px;
    top: 0;
    left: 0;
    height: 30px;
    outline: none;
    border-radius: 2px;
    background: transparent;
    width: 600px;
    color: #45f3ff;
    font-size: 18px;
}
.box .form .inputbox textarea
{
    margin: 5px;
    margin-left: 10px;
    top: 0;
    left: 0;
    height: 30px;
    outline: none;
    border-radius: 1px;
    background: transparent;
    width: 600px;
    color: #45f3ff;
    font-size: 18px
}
.box .form .inputbox .radio1
{
    width: 21px;
}
.box .form .inputbox .radio2
{
    position: relative;
    bottom: 9px;
    right: 20px;
    left: 2px;
}
.box .form .inputbox .radiox
{
    position: relative;
    bottom: 9px;
    right: 20px;
    left: 2px;
}
#adres
{
    height: 100px;
}
#ref
{
    height: 100px;
}
.box .form .inputbox input:invalid
{
    outline: 2px solid red;
}
.box .form .inputbox select
{
    margin: 5px;
    margin-left: 10px;
    top: 0;
    left: 0;
    height: 30px;
    outline: none;
    border-radius: 1px;
    background: transparent;
    width: 250px;
    text-align: center;
    color: #45f3ff;
    font-size: 18px
}
.box .form .inputbox option
{
    background: #1c1c1c;
}
.box .form .inputbox .diller
{   
    display: table-cell;
}
.box .form .inputbox td.subm
{
    text-align: center;
}
.box .form .inputbox input.subm
{
    border-color: #45f3ff;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.box .form .inputbox input.subm:hover
{
    transform: scale(1.2);
}
.swal-modal
{
    background-color: #28292d;
}
.swal-title
{
    color: #45f3ff;
}
.swal-text
{
    color: #45f3ff;
}
.swal-button
{
    background-color: #1c1c1c;
    border: 1px solid white;
}
.swal-button--cancel
{
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid white;
}
#birth
{
    cursor: pointer;
}
#point
{
    cursor: pointer;
}
#vol
{
    width: 400px;
    visibility: hidden;
}
#vol2
{
    width: 400px;
    visibility: hidden;
}#vol3
{
    width: 400px;
    visibility: hidden;
}#vol4
{
    width: 400px;
    visibility: hidden;
}#vol5
{
    width: 400px;
    visibility: hidden;
}
#rank
{
    width: 40px;
    position: absolute;
    top: 1247px;
    left: 905px;
    visibility: visible;
}
#rank2
{
    width: 40px;
    position: absolute;
    top: 1290px;
    left: 905px;
    visibility: visible;
}
#rank3
{
    width: 40px;
    position: absolute;
    top: 1332px;
    left: 905px;
    visibility: visible;
}
#rank4
{
    width: 40px;
    position: absolute;
    top: 1375px;
    left: 905px;
    visibility: visible;
}
#rank5
{
    width: 40px;
    position: absolute;
    top: 1416px;
    left: 905px;
    visibility: visible;
}